---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/tags?limit=1&page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b295fb3f85b5ab3aa8a3145d9297972bc5325481d6805508b174200f099f7c3"
      Last-Modified:
      - Sun, 14 Jun 2026 06:44:10 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/54115968/tags?limit=1&page=2&per_page=1>;
        rel="next", <https://api.github.com/repositories/54115968/tags?limit=1&page=8561&per_page=1>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1782376185'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"win-v4.3.0.110","zipball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/zipball/refs/tags/win-v4.3.0.110","tarball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/tarball/refs/tags/win-v4.3.0.110","commit":{"sha":"1fbcd293f88d26e5e785b15b21020a00944010f3","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/1fbcd293f88d26e5e785b15b21020a00944010f3"},"node_id":"MDM6UmVmNTQxMTU5Njg6cmVmcy90YWdzL3dpbi12NC4zLjAuMTEw"}]'
  recorded_at: Thu, 25 Jun 2026 08:18:11 GMT
[...]
- request:
    method: head
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/win-v4.3.0.110
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a06b67838c3baf36aef653c43f12d3ec3a39e825b2974cef0eb53d51cb7626af"
      Last-Modified:
      - Fri, 31 Mar 2017 15:41:52 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1782376184'
      X-Ratelimit-Used:
      - '27'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2026 08:18:13 GMT
- request:
    method: head
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/win-v4.3.0.110
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a06b67838c3baf36aef653c43f12d3ec3a39e825b2974cef0eb53d51cb7626af"
      Last-Modified:
      - Fri, 31 Mar 2017 15:41:52 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1782376184'
      X-Ratelimit-Used:
      - '28'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2026 08:18:13 GMT
recorded_with: VCR 6.3.1
