---
http_interactions:
- request:
    method: head
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/v6.4.1.45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d80129da21a4f9bdb3eca2e1bbabfe88e36a5b6e7f0945ce299581023f757680"
      Last-Modified:
      - Thu, 26 Aug 2021 11:38:17 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1782376184'
      X-Ratelimit-Used:
      - '14'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2026 07:43:45 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c6ba77ee3d16f58262f769d66c417ab76299d81922ebaaff789accc3cf68eed"
      Last-Modified:
      - Wed, 06 Oct 2021 17:12:16 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1782376184'
      X-Ratelimit-Used:
      - '16'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6","permalink_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/ONLYOFFICE:84749af...ONLYOFFICE:0004fa3","diff_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6.diff","patch_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6.patch","base_commit":{"sha":"84749af17453ebc34f7e42a3e806d6b7bdbf26d0","node_id":"MDY6Q29tbWl0MjE4Mjc0MzQxOjg0NzQ5YWYxNzQ1M2ViYzM0ZjdlNDJhM2U4MDZkNmI3YmRiZjI2ZDA=","commit":{"author":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"committer":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"message":"Merge
        branch release/v6.4.0 into master","tree":{"sha":"75dabc26d097c067204d5d4db2fec13328a154cb","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/git/trees/75dabc26d097c067204d5d4db2fec13328a154cb"},"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/git/commits/84749af17453ebc34f7e42a3e806d6b7bdbf26d0","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/84749af17453ebc34f7e42a3e806d6b7bdbf26d0","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/commit/84749af17453ebc34f7e42a3e806d6b7bdbf26d0","comments_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/84749af17453ebc34f7e42a3e806d6b7bdbf26d0/comments","author":{"login":"papacarlo","id":22055467,"node_id":"MDQ6VXNlcjIyMDU1NDY3","avatar_url":"https://avatars.githubusercontent.com/u/22055467?v=4","gravatar_id":"","url":"https://api.github.com/users/papacarlo","html_url":"https://github.com/papacarlo","followers_url":"https://api.github.com/users/papacarlo/followers","following_url":"https://api.github.com/users/papacarlo/following{/other_user}","gists_url":"https://api.github.com/users/papacarlo/gists{/gist_id}","starred_url":"https://api.github.com/users/papacarlo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/papacarlo/subscriptions","organizations_url":"https://api.github.com/users/papacarlo/orgs","repos_url":"https://api.github.com/users/papacarlo/repos","events_url":"https://api.github.com/users/papacarlo/events{/privacy}","received_events_url":"https://api.github.com/users/papacarlo/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"papacarlo","id":22055467,"node_id":"MDQ6VXNlcjIyMDU1NDY3","avatar_url":"https://avatars.githubusercontent.com/u/22055467?v=4","gravatar_id":"","url":"https://api.github.com/users/papacarlo","html_url":"https://github.com/papacarlo","followers_url":"https://api.github.com/users/papacarlo/followers","following_url":"https://api.github.com/users/papacarlo/following{/other_user}","gists_url":"https://api.github.com/users/papacarlo/gists{/gist_id}","starred_url":"https://api.github.com/users/papacarlo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/papacarlo/subscriptions","organizations_url":"https://api.github.com/users/papacarlo/orgs","repos_url":"https://api.github.com/users/papacarlo/repos","events_url":"https://api.github.com/users/papacarlo/events{/privacy}","received_events_url":"https://api.github.com/users/papacarlo/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"504ddbf88ada06a1ef630c7488d9e87c62de8fbd","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/504ddbf88ada06a1ef630c7488d9e87c62de8fbd","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/commit/504ddbf88ada06a1ef630c7488d9e87c62de8fbd"},{"sha":"6b5b1fabcbd72ba7299ea9144ed7a71e3924a2d2","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/6b5b1fabcbd72ba7299ea9144ed7a71e3924a2d2","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/commit/6b5b1fabcbd72ba7299ea9144ed7a71e3924a2d2"}]},"merge_base_commit":{"sha":"84749af17453ebc34f7e42a3e806d6b7bdbf26d0","node_id":"MDY6Q29tbWl0MjE4Mjc0MzQxOjg0NzQ5YWYxNzQ1M2ViYzM0ZjdlNDJhM2U4MDZkNmI3YmRiZjI2ZDA=","commit":{"author":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"committer":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"message":"Merge
        branch release/v6.4.0 into master","tree":{"sha":"75dabc26d097c067204d5d4db2fec13328a154cb","url":"https://api.github.com/repos/ONLYO[...]
