---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e73aff5b5af6aab60edcfb46692e3e444a1b70ccead68910e158b826d1430674"
      Last-Modified:
      - Tue, 05 Nov 2024 05:54:03 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-12-08 09:29:07 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/54115968/tags?per_page=100&page=2>; rel="next",
        <https://api.github.com/repositories/54115968/tags?per_page=100&page=77>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4768'
      X-Ratelimit-Reset:
      - '1731064196'
      X-Ratelimit-Used:
      - '232'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"win-v4.3.0.110","zipball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/zipball/refs/tags/win-v4.3.0.110","tarball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/tarball/refs/tags/win-v4.3.0.110","commit":{"sha":"1fbcd293f88d26e5e785b15b21020a00944010f3","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/1fbcd293f88d26e5e785b15b21020a00944010f3"},"node_id":"MDM6UmVmNTQxMTU5Njg6cmVmcy90YWdzL3dpbi12NC4zLjAuMTEw"},{"name":"win-v4.3.0.109","zipball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/zipball/refs/tags/win-v4.3.0.109","tarball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/tarball/refs/tags/win-v4.3.0.109","commit":{"sha":"9d8022addf28ce7cd03fb5da9bed18c1a73b7be4","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/9d8022addf28ce7cd03fb5da9bed18c1a73b7be4"},"node_id":"MDM6UmVmNTQxMTU5Njg6cmVmcy90YWdzL3dpbi12NC4zLjAuMTA5"},[...]
- request:
    method: get
    uri: https://api.github.com/repositories/54115968/tags?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fabfa37d6bb8824480e3e0202c411f8a92288dbd113fc6a31b89bd5bcf1b09b"
      Last-Modifi[...]
[...]
