---
http_interactions:
- request:
    method: head
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/v5.6.1.6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2f37f09b179ea81cabcc32400c94f2e4bbc31b50f39640f245fdb899c802788"
      Last-Modified:
      - Tue, 28 Jul 2020 13:42:49 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1782376184'
      X-Ratelimit-Used:
      - '11'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2026 07:43:44 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/compare/v5.6.1.6...v5.6.2.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07501a1922fac51944d0a35bfa67539b405dfa95d86efc653562fa4796e684ae"
      Last-Modified:
      - Tue, 28 Jul 2020 13:42:49 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1782376184'
      X-Ratelimit-Used:
      - '13'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/compare/v5.6.1.6...v5.6.2.2","html_url":"https://github.com/ONLYOFFICE/sdkjs/compare/v5.6.1.6...v5.6.2.2","permalink_url":"https://github.com/ONLYOFFICE/sdkjs/compare/ONLYOFFICE:a0ad964...ONLYOFFICE:a0ad964","diff_url":"https://github.com/ONLYOFFICE/sdkjs/compare/v5.6.1.6...v5.6.2.2.diff","patch_url":"https://github.com/ONLYOFFICE/sdkjs/compare/v5.6.1.6...v5.6.2.2.patch","base_commit":{"sha":"a0ad9645fc4103ca67ba3e346438567305082de8","node_id":"MDY6Q29tbWl0NTQxMTU5Njg6YTBhZDk2NDVmYzQxMDNjYTY3YmEzZTM0NjQzODU2NzMwNTA4MmRlOA==","commit":{"author":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2020-07-28T13:42:49Z"},"committer":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2020-07-28T13:42:49Z"},"message":"Merge
        branch hotfix/v5.6.0 into master","tree":{"sha":"6cdf21596b439a729abda298cc5872324d32e1be","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/git/trees/6cdf21596b439a729abda298cc5872324d32e1be"},"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/git/commits/a0ad9645fc4103ca67ba3e346438567305082de8","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/a0ad9645fc4103ca67ba3e346438567305082de8","html_url":"https://github.com/ONLYOFFICE/sdkjs/commit/a0ad9645fc4103ca67ba3e346438567305082de8","comments_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/a0ad9645fc4103ca67ba3e346438567305082de8/comments","author":{"login":"papacarlo","id":22055467,"node_id":"MDQ6VXNlcjIyMDU1NDY3","avatar_url":"https://avatars.githubusercontent.com/u/22055467?v=4","gravatar_id":"","url":"https://api.github.com/users/papacarlo","html_url":"https://github.com/papacarlo","followers_url":"https://api.github.com/users/papacarlo/followers","following_url":"https://api.github.com/users/papacarlo/following{/other_user}","gists_url":"https://api.github.com/users/papacarlo/gists{/gist_id}","starred_url":"https://api.github.com/users/papacarlo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/papacarlo/subscriptions","organizations_url":"https://api.github.com/users/papacarlo/orgs","repos_url":"https://api.github.com/users/papacarlo/repos","events_url":"https://api.github.com/users/papacarlo/events{/privacy}","received_events_url":"https://api.github.com/users/papacarlo/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"papacarlo","id":22055467,"node_id":"MDQ6VXNlcjIyMDU1NDY3","avatar_url":"https://avatars.githubusercontent.com/u/22055467?v=4","gravatar_id":"","url":"https://api.github.com/users/papacarlo","html_url":"https://github.com/papacarlo","followers_url":"https://api.github.com/users/papacarlo/followers","following_url":"https://api.github.com/users/papacarlo/following{/other_user}","gists_url":"https://api.github.com/users/papacarlo/gists{/gist_id}","starred_url":"https://api.github.com/users/papacarlo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/papacarlo/subscriptions","organizations_url":"https://api.github.com/users/papacarlo/orgs","repos_url":"https://api.github.com/users/papacarlo/repos","events_url":"https://api.github.com/users/papacarlo/events{/privacy}","received_events_url":"https://api.github.com/users/papacarlo/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"6622ecdaa43b72e84512eb93d4f1e7737cbde733","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/6622ecdaa43b72e84512eb93d4f1e7737cbde733","html_url":"https://github.com/ONLYOFFICE/sdkjs/commit/6622ecdaa43b72e84512eb93d4f1e7737cbde733"},{"sha":"647ed0f2deff5f32d779896afdedd3e2807b9009","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/647ed0f2deff5f32d779896afdedd3e2807b9009","html_url":"https://github.com/ONLYOFFICE/sdkjs/commit/647ed0f2deff5f32d779896afdedd3e2807b9009"}]},"merge_base_commit":{"sha":"a0ad9645fc4103ca67ba3e346438567305082de8","node_id":"MDY6Q29tbWl0NTQxMTU5Njg6YTBhZDk2NDVmYzQxMDNjYTY3YmEzZTM0NjQzODU2NzMwNTA4MmRlOA==","commit":{"author":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2020-07-28T13:42:49Z"},"committer":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2020-07-28T13:42:49Z"},"message":"Merge
        branch hotfix/v5.6.0 into master","tree":{"sha":"6cdf21596b439a729abda298cc5872324d32e1be","url":"https://api.github.com/repos/ONLYOF[...]
