---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f16c14c4150cb05d5063f5c5b916ae1ec876c9b03e560c9c9ec608aeeef602f7"
      Last-Modified:
      - Sat, 28 Jan 2023 03:02:11 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-12-08 09:29:07 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/218274341/tags?per_page=100&page=2>;
        rel="next", <https://api.github.com/repositories/218274341/tags?per_page=100&page=17>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4530'
      X-Ratelimit-Reset:
      - '1731064196'
      X-Ratelimit-Used:
      - '470'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v99.99.99.2787","zipball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/zipball/refs/tags/v99.99.99.2787","tarball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/tarball/refs/tags/v99.99.99.2787","commit":{"sha":"34c592344a2786e9770aee34e11a0e01e6257abc","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/34c592344a2786e9770aee34e11a0e01e6257abc"},"node_id":"MDM6UmVmMjE4Mjc0MzQxOnJlZnMvdGFncy92OTkuOTkuOTkuMjc4Nw=="},{"name":"v99.99.99.2786","zipball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/zipball/refs/tags/v99.99.99.2786","tarball_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/tarball/refs/tags/v99.99.99.2786","commit":{"sha":"34c592344a2786e9770aee34e11a0e01e6257abc","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/34c592344a2786e9770aee34e11a0e01e6257abc"},"node_id":"MDM6UmVmMjE4Mjc0Mz[...]
- request:
    method: get
    uri: https://api.github.com/repositories/218274341/tags?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87a45ec8bf3acecaba421fe1005ab5332b962c97aa96188827e90b5cdfa18d4a"
      Last-Modif[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/branches?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29098f3abfe3712c5e67a845aba76c7486ad8da7c2920f45d8b151800343e1fb"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-12-08 09:29:07 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4513'
      X-Ratelimit-Reset:
      - '1731064196'
      X-Ratelimit-Used:
      - '487'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"master","commit":{"sha":"cef29bc1073b359fa9bd40e112de5dcdeba039a4","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/cef29bc1073b359fa9bd40e112de5dcdeba039a4"},"protected":true}]'
  recorded_at: Fri, 08 Nov 2024 10:17:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9eab1a7b5723528e49d009f6fe97c032669d597f950ad3ec7e0a25de2d0b3be5"
      Last-Modified:
      - Wed, 06 Oct 2021 17:12:16 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-12-08 09:29:07 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/218274341/compare/v6.4.1.45...v6.4.2.6?per_page=100&page=1>;
        rel="first"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4512'
      X-Ratelimit-Reset:
      - '1731064196'
      X-Ratelimit-Used:
      - '488'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6","permalink_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/ONLYOFFICE:84749af...ONLYOFFICE:0004fa3","diff_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6.diff","patch_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/compare/v6.4.1.45...v6.4.2.6.patch","base_commit":{"sha":"84749af17453ebc34f7e42a3e806d6b7bdbf26d0","node_id":"MDY6Q29tbWl0MjE4Mjc0MzQxOjg0NzQ5YWYxNzQ1M2ViYzM0ZjdlNDJhM2U4MDZkNmI3YmRiZjI2ZDA=","commit":{"author":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"committer":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"message":"Merge
        branch release/v6.4.0 into master","tree":{"sha":"75dabc26d097c067204d5d4db2fec13328a154cb","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/git/trees/75dabc26d097c067204d5d4db2fec13328a154cb"},"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/git/commits/84749af17453ebc34f7e42a3e806d6b7bdbf26d0","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/84749af17453ebc34f7e42a3e806d6b7bdbf26d0","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/commit/84749af17453ebc34f7e42a3e806d6b7bdbf26d0","comments_url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/84749af17453ebc34f7e42a3e806d6b7bdbf26d0/comments","author":{"login":"papacarlo","id":22055467,"node_id":"MDQ6VXNlcjIyMDU1NDY3","avatar_url":"https://avatars.githubusercontent.com/u/22055467?v=4","gravatar_id":"","url":"https://api.github.com/users/papacarlo","html_url":"https://github.com/papacarlo","followers_url":"https://api.github.com/users/papacarlo/followers","following_url":"https://api.github.com/users/papacarlo/following{/other_user}","gists_url":"https://api.github.com/users/papacarlo/gists{/gist_id}","starred_url":"https://api.github.com/users/papacarlo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/papacarlo/subscriptions","organizations_url":"https://api.github.com/users/papacarlo/orgs","repos_url":"https://api.github.com/users/papacarlo/repos","events_url":"https://api.github.com/users/papacarlo/events{/privacy}","received_events_url":"https://api.github.com/users/papacarlo/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"papacarlo","id":22055467,"node_id":"MDQ6VXNlcjIyMDU1NDY3","avatar_url":"https://avatars.githubusercontent.com/u/22055467?v=4","gravatar_id":"","url":"https://api.github.com/users/papacarlo","html_url":"https://github.com/papacarlo","followers_url":"https://api.github.com/users/papacarlo/followers","following_url":"https://api.github.com/users/papacarlo/following{/other_user}","gists_url":"https://api.github.com/users/papacarlo/gists{/gist_id}","starred_url":"https://api.github.com/users/papacarlo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/papacarlo/subscriptions","organizations_url":"https://api.github.com/users/papacarlo/orgs","repos_url":"https://api.github.com/users/papacarlo/repos","events_url":"https://api.github.com/users/papacarlo/events{/privacy}","received_events_url":"https://api.github.com/users/papacarlo/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"504ddbf88ada06a1ef630c7488d9e87c62de8fbd","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/504ddbf88ada06a1ef630c7488d9e87c62de8fbd","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/commit/504ddbf88ada06a1ef630c7488d9e87c62de8fbd"},{"sha":"6b5b1fabcbd72ba7299ea9144ed7a71e3924a2d2","url":"https://api.github.com/repos/ONLYOFFICE/sdkjs-comparison/commits/6b5b1fabcbd72ba7299ea9144ed7a71e3924a2d2","html_url":"https://github.com/ONLYOFFICE/sdkjs-comparison/commit/6b5b1fabcbd72ba7299ea9144ed7a71e3924a2d2"}]},"merge_base_commit":{"sha":"84749af17453ebc34f7e42a3e806d6b7bdbf26d0","node_id":"MDY6Q29tbWl0MjE4Mjc0MzQxOjg0NzQ5YWYxNzQ1M2ViYzM0ZjdlNDJhM2U4MDZkNmI3YmRiZjI2ZDA=","commit":{"author":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"committer":{"name":"papacarlo","email":"builder@onlyoffice.com","date":"2021-08-26T11:38:17Z"},"message":"Merge
        branch release/v6.4.0 into master","tree":{"sha":"75dabc26d097c067204d5d4db2fec13328a154cb","url":"https://api.github.com/repos/ONLYO[...]
