---
http_interactions:
- request:
    method: head
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1782460722'
      X-Ratelimit-Used:
      - '59'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Jun 2026 07:49:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/git/commits/foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1782463790'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/git/commits#get-a-commit-object","status":"404"}'
  recorded_at: Fri, 26 Jun 2026 07:49:50 GMT
- request:
    method: head
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/commits/bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4940'
      X-Ratelimit-Reset:
      - '1782460722'
      X-Ratelimit-Used:
      - '60'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Jun 2026 07:49:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ONLYOFFICE/sdkjs/git/commits/bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - "<TOKEN_EXPIRATION>"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1782463790'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/git/commits#get-a-commit-object","status":"404"}'
  recorded_at: Fri, 26 Jun 2026 07:49:51 GMT
recorded_with: VCR 6.4.0
